<h2>Video</h2>
<div class="warning">
	<p>Confirm you wish to delete the following video:</p>
	<p><strong>URI:</strong> {{uri}}</p>
	<p>
		<a class="button danger" href="?confirm">Delete</a>
		or <a href="/dashboard/videos/edit/{{_id}}">edit instead</a>
		or <a href="/dashboard/videos">return to videos list</a>
	</p>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{youtube_id}}" frameborder="0" allowfullscreen></iframe>
