<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header class="fill">
			<div>
				<h1><a href="/">Maxfacts</a></h1>
				<form action="/search" method="GET">
					<input type="search" name="query" placeholder="Search">
				</form>
				<p>Information on all aspects of oral and maxillofacial surgery for patients, carers and professionals</p>
			</div>
			<nav><p></p></nav>
		</header>
		<section>
			{{{body}}}
		</section>
		<footer>
			<p>
				<a href="/feedback">Contact us</a>
				&mdash; <a href="/legal">Copyright, legal notice, &amp; privacy policy</a>
				&mdash; <a href="https://www.york.ac.uk/about/legal-statements/">University disclaimer</a>
			</p>
		</footer>
	</body>
</html>
