<h1>Directory</h1>
<p>Other links: <a href="/images">Images</a>, <a href="/magic-triangle">Magic Triangle</a></p>
<p><a class="button" href="/editor/create">New page</a></p>
<ul>
{{#each items}}
	<li><a href="/{{uri}}">{{title}}</a> ({{uri}})</li>
{{/each}}
</ul>

