<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/css/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<header class="fill">
			<div>
				<h1>MaxFacts</h1>
				<p>MaxFacts aims to provide information about head and neck cancer to patients, carers, and professionals.</p>
			</div>
			<nav><p></p></nav>
		</header>
		<section>
			{{{body}}}
		</section>
	</body>
</html>
