<h1>Magic triangle self-assessment</h1>
<style type='text/javascript' src='/javascripts/magictriangle.js'></script>
<div id="magicTriangle">
	<noscript><p>Please enable JavaScript to use this tool.</p></noscript>
</div>
