<h1>Magic Triangle Self-Assessment</h1>
<div class="text">
	<p>You may have come to the conclusion that you've answered a life-time's worth of answers to questionnaires on a scale of 1 to 10. Disengagement caused by survey and questionnaire overload is a fairly common effect.</p>
	<p>This presents a problem as repeatedly assessessing your condition over a period of time is necessary for optimal after-care.</p>
	<p>We are presenting an alternative method of collecting this information to help you reflect on your current condition and to prepare for out-patient clinic appointments.
	<p>This approach is an interactive tool which exploit the mathematical properties of an equilateral triangle.</p>
	<p><strong><a href="/magic-triangle/tool">Start here</a></strong></p>
</div>
