@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "magic-triangle";

$accent-color: #565ed8;
$accent-fade: rgb(205, 202, 254);
$button-accent: #c05d7b;
$blackout-color: #32292f;
$magic-color: #ddd;
$dashboard-back: #d8295e;
$green-back: #98e47f;
$green-front: #171;
$further-back: white;
$level3-back: #055a57;
$level2-back: #ccc;
$level1-back: white;
$level1-under: #ddd;

table {
	font-size: 90%;

	input {
		margin: 0!important;
	}
}

.broken-links {
	width: 100%;
}
