@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

$accent-color: #565ed8;

html {
	border-top: 3rem solid #32292f;
}

body {
	max-width: 64em;
	margin: 0 auto;
	padding: 0 20px;
}

h2 {
	font-size: 2.5rem;
	margin: 1.5rem 0 0.75rem;
}

h3 {
	font-size: 1.5rem;
	margin: 0 0 0.75rem;
}

textarea {
	min-height: 200px;
	font-family: monospace;
}

span.warn {
	background: #ddd;
	padding: 3px 6px;
	border-radius: 5px;
	color: red;
	opacity: 0.5;
}

figure {
	width: 100%;
	max-width: 500px;
	margin: 0 auto $small-spacing;
	font-style: italic;
	text-align: center;

	figcaption::before {
		content: "Above figure: ";
		font-style: normal;
		font-weight: bold;
	}
}

table {
	width: 100%;
	max-width: 600px;
	margin: 0 auto $small-spacing;
	table-layout: auto;

	th {
		background: #333;
		color: white;
	}

	th, td {
		border: 2px solid #333;
		padding: 5px;
	}
}

button.preferred {
	background-color: #292;
	border: 3px solid #171;
	font-size: large;

	&:hover {
		background-color: #198519;
		border-color: #107010;
	}
}

button.strong {
	border-radius: 5px;
	background: rgba(200, 200, 200, 0.3);
	padding: 2px 6px;
}

aside {
	@include span-columns(4);
}

.warning {
	background: rgba(darkred, 1);
	color: white;
	padding: $small-spacing;
	margin: 20px 0;

	ul {
		list-style: none;
		padding: 0;
		font-size: x-small;

		li {
			margin: 5px 0;
		}

		code {
			white-space: nowrap;
			background: rgba(black,0.3);
			padding: 3px;
			border-radius: 3px;
		}
	}
}

.editor-toolbar {
	button[title="Italic"],
	button[title="Strikethrough"],
	button[title="Monospace"],
	button[title="Blockquote"] {
		display: none;
	}
}

.editor {
	font-family: $base-font-family;	
	min-height: 200px;
}

div.text {
	@include span-columns(8);
}

h1 {
	font-size: 1.7em;
}

strong a {
	display: inline-block;
	background: #292;
	padding: 10px 20px;
	font-size: 1.5em;
	border: 3px solid #171;
	border-top: 0;
	border-left: 0;
	border-radius: 5px;
	color: #fff;
}

strong a:after {
	content: " »";
}

strong a:hover {
	background: #eee;
	border-color: #ddd;
	text-decoration: underline;
}

header {
	margin: -3em 0 20px;
	padding: 0;
	border-bottom: 20px solid $accent-color;

	h1 {
		color: #eee;
		margin: 0;
		line-height: 3rem;
		font-size: 1.5em;
	}
}

.checkboxes {
	@include outer-container;
	margin-bottom: 0.75em;

	label {
		//@include span-columns(4);
		//@include omega(3n);
	}
}

.magic-triangle {
	@include outer-container;

	> .-mt-stage {
		@include span-columns(4);
		padding: $small-spacing;

		&.completed {
			opacity: 0.8;
			font-size: 80%;
		}

		&.current {
			animation-name: fadeInLeft;
			animation-duration: 0.5s;
			animation-fill-mode: both;
			background: #3e5667;//$accent-color;//$accent-color;
			color: white;

			.-tp-plot {
				background-image: url('/images/triangle-scaled.png');
				background-size: 100% 100%;
				background-position: center center;
			}
		}
	}
}

@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

label.disabled {
	color: grey;
	opacity: 0.8;
}

.-tp {
	position: relative;
	padding: 2rem;
	min-width: 250px;
	width: 100%;
	margin-bottom: $small-spacing;
}

.-tp-labels {
	width: 100%;

	p {
		width: 100%;
		position: absolute;
		margin: 0;
	}

	.-tp-label-a {
		text-align: center;
		top: 0;
		left: 0;
	}

	.-tp-label-b,
	.-tp-label-c {
		text-align: left;
		bottom: 0;
		left: 0;
	}

	.-tp-label-c {
		text-align: right;
		left: inherit;
		right: 0;
	}
}

.-tp-plot {
	position: relative;
	width: 100%;
	background-image: /*url('/images/triangle-mask.png'),*/ url('/images/triangle-scaled.png');
	background-size: 100% 100%;//200% 200%, 100% 100%;
	background-position: center;
	//background-position: 100px 100px;
	background-repeat: no-repeat;
}

.-tp-marker {
	position: absolute;
	width: 20px;
	height: 20px;
	margin: -10px 0 0 -10px;
	background: url('/images/circle-scaled.png');
	background-size: 100% 100%;
}

.-slider-background {
	position: relative;
	width: 100%;
	max-width: 400px;
	height: 19px;
	margin: 40px 0 60px;
	background: url('/images/slider-scaled.png');
	background-size: 100% 100%;
}

.-slider-marker {
	position: absolute;
	width: 20px;
	top: -18px;
	margin-left: -10px;
	height: 17px;
	background: url('/images/slider-marker.png');
	background-size: 100% 100%;
}

.explanation {
	background: #f7f7f7;
	margin: 20px -20px;
	padding: 20px 20px 0;
	border: 3px solid #eee;
}

.-slider-label-left {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: left;
	top: 20px;
	height: 1.7rem;
	line-height: 1.7rem;
}

.-slider-label-right {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: right;
	top: 20px;
	height: 1.7rem;
	line-height: 1.7rem;
}

