<h2>Images</h2>
<div class="warning">
	<p>Confirm you wish to delete the following image:</p>
	<p><strong>URI:</strong> {{uri}}</p>
	<p>
		<a class="button danger" href="?confirm">Delete</a>
		or <a href="/dashboard/images/edit/{{_id}}">edit instead</a>
		or <a href="/dashboard/images">return to images list</a>
	</p>
</div>
<p><img src="/{{uri}}"></p>
