<main class="level2">
	<header>
		<h2>{{title}}{{#if surtitle}} <span class="surtitle">({{surtitle}})</span>{{/if}}</h2>
		{{#if description}}
			<p>{{this}}</p>
		{{/if}}
	</header>
	{{{shift_headers 2 body}}}
	{{> next-section}}
</main>
<aside>
</aside>
