<main>
	<h2>{{title}}</h2>
	{{{shift_headers 2 body}}}
</main>
<aside>
	{{#if invalid_uris}}
	<div class="warning">
		<p>This document has links that go nowhere:</p>
		<ul>
			{{#each invalid_uris}}
				<li><code>{{this}}</code></li>
			{{/each}}
		</ul>
	</div>
	{{/if}}
</aside>
