<h2>{{name}}</h2>
<div id="video-player"></div>
<script type="application/json" id="video_data">
	{{{toJSON this}}}
</script>
<script type="text/javascript" src="/js/multipart-player/app.js"></script>
