<main>
	<h2>Recipes</h2>
	<div id="recipe-browser">
	{{#each recipes}}
		<div className="recipe">
			<h3><a href="{{id}}">{{title}}</a></h3>
			<p className="tags">{{#each tags}}<span className="tag">{{this}}</span>{{/each}}</p>
		</div>
	{{/each}}
	</div>
</main>
<script type="application/json" id="recipe_data">
	{{{toJSON recipes}}}
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.min.js"></script>
<script src="/js/recipe-browser.js"></script>
