<main>
	<h2>Recipes</h2>
	<p>Our recipes are available as a searchable database:</p>
	<div class="link-box">
		<p><a href="/help/oral-food/recipes/browse">Browse recipes on-line</a></p>
	</div>
	<p>When eating is challenging, preparing your own food or having someone help you with it gives you control to get
		your food exactly right for your needs, no matter how unconventional. Some of these recipes are unusual in ways
		that may make them work better for you than traditional recipes, so give them a try.</p>
	<p>Many are high in calories which can be useful when food intake is difficult. There are hardly any restrictions on
		flavours, and almost anything can be prepared as a liquid, or in smooth or soft textures, and over a range of
		temperatures. It is quite easy to adjust the textures of your food when you know how and hopefully some of the
		recipes here can help with that.</p>
	<p>This is not intended to be an exhaustive list as people’s problems, and their tastes, vary widely. Instead we’ve
		tried to have a good range of flavours and techniques to give you inspiration and the knowledge to experiment to
		find out what works for you.</p>
	<p>For those with <a href="/diagnosis/a-z/xerostomia">dry mouth problems</a>, it’s recommended to avoid sugar and
		sweet foods and drinks as snacks in order to avoid dental decay.</p>
</main>

<aside class="article-metadata">
	<h3>About this page</h3>
	<ul class="authorship">
		<li>Authored by Angelika Sebald</li>
		<li>Edited by Lauren Tomasello</li>
	</ul>
</aside>