<h2>Overview</h2>
<div class="link-box">
	{{#if unattributed}}
		<p><a href="/dashboard/directory/unattributed">{{unattributed}} unattributed pages</a></p>
	{{/if}}
	{{#if broken_links}}
		<p><a href="/dashboard/directory/broken-links">{{broken_links}} pages with broken links</a></p>
	{{/if}}
</div>
{{#options}}
<form method="post" action="#">
	<p>
		<label for="placeholder_uri">Placeholder URI</label>
		<input id="placeholder_uri" name="placeholder_uri" type="text" value="{{placeholder_uri}}" />
	</p>
	<input type="submit" value="Save" />
</form>
{{/options}}
